@use '../abstract' as *;

dt {
  font-style: italic;
  font-weight: bold;
}

ul {
  li {
    display: list-item;
    list-style-image: url('../images/bullet.png');
    text-align: -webkit-match-parent;
  }
}

ol {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1rem;
}
