@use '../abstract' as *;

dt {
  font-style: italic;
  font-weight: bold;
}

ul {
  li {
    display: list-item;
    list-style-image: url('/bullet.png');
    text-align: -webkit-match-parent;
    padding: rem(5px) 0px;

    &::marker {
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0px !important;
      text-align: start !important;
      text-align-last: start !important;
    }
  }
}

ol {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1rem;
}
