@use '../abstract' as *;

.nav {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: rem(1px) dashed $primary;
  padding: rem(20px) 0;
  margin: 0 0 rem(40px) 0;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }
  }

  h1 {
    letter-spacing: rem(-1px);
    margin-bottom: 0px;

    @include respond-to('laptop') {
      margin-left: rem(40px);
    }

    &::before {
      content: './ ';
      position: absolute;
      top: rem(6px);
      left: rem(-40px);
      font-size: rem(24px);

      @include respond-to('laptop') {
        left: 0;
      }
    }
  }

  h2 {
    font-size: rem(18px);
    margin-bottom: rem(20px);
    color: $grey;
  }
}
