@use '../abstract' as *;

html {
  font-family: $font_body, $font_body_fallback;
  color: $white;
  font-smooth: always;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

@include headings {
  font-family: $font_heading, $font_body_fallback;
  color: $primary;
  font-weight: 500;
  margin-bottom: 1rem;
  text-shadow: 0 rem(1px) rem(1px) rgba($color: $black, $alpha: 0.1),
    0 0 rem(5px) rgba($color: $primary, $alpha: 0.1),
    0 0 rem(10px) rgba($color: $primary, $alpha: 0.1);
  letter-spacing: rem(-1px);
}

h1,
.h1 {
  font-size: rem(30px);
  font-weight: 700;
}

h2,
.h2 {
  font-size: rem(24px);
  font-weight: 300;
}

h3,
.h3 {
  font-size: rem(18px);
}

h4,
.h4 {
  font-size: rem(14px);
}

h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
  margin: 0 0 rem(5px) 0;
}

h5,
.h5 {
  font-size: rem(12px);
}

h6,
.h6 {
  font-size: rem(12px);
  color: $lightgrey;
}

a,
.a {
  color: $secondary;
  transition: color 200ms ease;

  &:hover,
  &:focus {
    color: rgba($color: $primary, $alpha: 0.7);
  }
}

p {
  margin-bottom: 1rem;
}

pre {
  display: block;
  margin: 1rem 0;
  font-family: monospace;
  white-space: pre;
  padding: rem(10px);
  color: $primary;
  border-radius: rem(2px);
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;

  @include highlight();
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 120ch;
}

.error {
  color: $error;
  margin-bottom: 1rem;
}
